html,
body {
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#tabs {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  height: 100%;
}