div.calc {
  background-color: #ccc;
  margin: 0px auto;
  width: fit-content;
  height: auto;
  padding: 1.5vw;
  box-shadow: 2px 2px 5px gray;
}

button {
  background-color: white;
  font-size: 1.5vw;
  border: none;
  height: 2.6vw;
  width: 2.6vw;
  margin: 5px;
  box-shadow: 2px 2px 5px gray;
  transition: 0.2s;
}

button:hover {
  background-color: #ddd;

}

button:focus {
  outline: none;
}

textarea {
  margin: 0px auto;
  font-size: 2vw;
  width: 100%;
  border: none;
  text-align: right;
}